<div class="col mb-5">
    <div class="card h-100">
        <!-- Product image-->
        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">Free Grab $10 Voucher</h5>
                <!-- Product reviews-->
                <div class="d-flex justify-content-center small text-warning mb-2">
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                </div>
                <!-- Product price-->
                40 LazCoins
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
            </div>
        </div>
    </div>
</div>


<div class="col mb-5">
    <div class="card h-100">
        <!-- Sale badge-->
        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale
        </div>
        <!-- Product image-->
        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">$100 Voucher</h5>
                <!-- Product reviews-->
                <div class="d-flex justify-content-center small text-warning mb-2">
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                </div>
                <!-- Product price-->
                <span class="text-muted text-decoration-line-through">$20.00</span>
                $87.00 or 99 LazCoins
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
            </div>
        </div>
    </div>
</div>

<!-- CART SCRIPTS -->
<script>
    $(document).ready(function () {
        fetch('/cart', {
            method: 'get'
        })
            .then(response => response.json())
            .then(function (data) {
                console.log(data)
                for (let voucher of data) {
                    $('#display').append(`<div class="col mb-5">
                                            <div class="card h-100" id="${voucher._id}">
                                                <!-- Product image-->
                                                <img class="card-img-top" src="${voucher.imgSRC}" alt="..." />
                                                <!-- Product details-->
                                                <div class="card-body p-4">
                                                    <div class="text-center">
                                                        <!-- Product name-->
                                                        <h5 id="voucherName-${voucher._id}"class="fw-bolder">${voucher.voucherName}</h5>
                                                        <h5 id="voucherID-${voucher._id}"class="fw-bolder d-none">${voucher.voucherID}</h5>
                                                        <h5 id="value-${voucher._id}"class="fw-bolder d-none">${voucher.value}</h5>
                                                        <!-- Product price-->
                                                        $<span id="costPrice-${voucher._id}">${voucher.costPrice}</span> or <span id="lazcoins-${voucher._id}">${voucher.lazcoins}</span> LazCoins
                                                    </div>
                                                </div>
                                                <!-- Product actions-->
                                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent text-center">
                                                    <button type="button" class="btn btn-outline-danger" onclick="removeFromCart('${voucher._id}')">Remove</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>`)
                }
            }).catch(function (error) {
                console.log(error);
            });

    })


    async function removeFromCart(ID){
        try{
            const response = await fetch(`/cart/delete/${ID}`, {
                method: 'DELETE'
                });
            const result = await response.json()
            console.log(result)
            if (result){
                alert("Successful")
                location.reload()
            } else{
                alert("Error unable to add to cart. Please try again later")
            }

        } catch(err){
            console.log(err)
        }
    }
</script>
<!-- USER INDEX -->
<!-- Loading Fetch Data -->
<script>
    $(document).ready(function () {
        fetch('/vouchers', {
            method: 'get'
        })
            .then(response => response.json())
            .then(function (data) {
                console.log(data)
                for (let voucher of data){
                    $('#display').append(`<div class="col mb-5">
                                            <div class="card h-100" id="${voucher._id}">
                                                <!-- Product image-->
                                                <img class="card-img-top" src="${voucher.imgSRC}" alt="..." />
                                                <!-- Product details-->
                                                <div class="card-body p-4">
                                                    <div class="text-center">
                                                        <!-- Product name-->
                                                        <h5 id="voucherName-${voucher._id}"class="fw-bolder">${voucher.voucherName}</h5>
                                                        <h5 id="voucherID-${voucher._id}"class="fw-bolder d-none">${voucher.voucherID}</h5>
                                                        <h5 id="value-${voucher._id}"class="fw-bolder d-none">${voucher.value}</h5>
                                                        <!-- Product price-->
                                                        $<span id="costPrice-${voucher._id}">${voucher.costPrice}</span> or <span id="lazcoins-${voucher._id}">${voucher.lazcoins}</span> LazCoins
                                                    </div>
                                                </div>
                                                <!-- Product actions-->
                                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                    <div class="text-center"><button class="btn btn-outline-dark mt-auto" onclick="addToCart('${voucher._id}')">Add to Cart</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>`)
                }
            }).catch(function (error) {
                console.log(error);
            });

    })
    
    async function addToCart(ID){
        let voucherID = $(`#voucherID-${ID}`).text()
        let voucherName = $(`#voucherName-${ID}`).text()
        let costPrice = $(`#costPrice-${ID}`).text()
        let value = $(`#value-${ID}`).text()
        let lazcoins = $(`#lazcoins-${ID}`).text()
        
        let json_file = {
            "voucherID": voucherID,
            "voucherName": voucherName,
            "costPrice": parseInt(costPrice),
            "value": parseInt(value),
            "lazcoins": parseInt(lazcoins),
        }

        try{
            const response = await fetch('/cart/add', {
                method: 'POST',
                    headers: { "Content-Type": "application/json" }, body: JSON.stringify(json_file)
                });
            const result = await response.json()
            console.log(result)
            if (result){
                alert("Successful")
            } else{
                alert("Error unable to add to cart. Please try again later")
            }

        } catch(err){
            console.log(err)
        }
    }
</script>